In [14]:
import numpy as np
import pandas as pd
import io
import csv

In [15]:
ds = pd.read_csv('train_labeled_studies.csv')

In [19]:
num_cols = ds._get_numeric_data().columns

In [23]:
num_cols

Index(['1'], dtype='object')

In [26]:
ds.describe()

                  1
count  13456.000000
mean       0.384661
std        0.486533
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000